<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <h2>Write new Chat...</h2>
    <form action="/chats" method="POST">
        <input type="text" name="from" placeholder="Who are you?">
        <br><br>
        <textarea name="msg" rows="8" cols="30" placeholder="Enter your message here..."></textarea>
        <br><br>
        <input type="text" name="to" placeholder="Add reciever">
        <br><br>
        <button>Create Chat</button>
    </form>
</body>
</html>